{
  "singleQuote": false,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "always",
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "^@medusajs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@assets/(.*)$",
    "^@custom-types/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@lib/(.*)$",
    "^@routes/(.*)$",
    "^@utils/(.*)$",
    "^@providers/(.*)$",
    "^@styles/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
